@value armondOrange, armondBlack, armondWhite from '../../common/color.css';

.main {
    display: flex;
    justify-content: center;
    background-color: armondWhite; 
    width: 100%;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 9rem;
    font-size: 1.1rem;
    font-family: 'notoSansKr-bold';
}


.box {
    align-items: center;
    width: 345px;
    height: 925px;
    margin-top: 1rem;
    background: armondWhite;
    border: 1px solid #707070;
    border-radius: 5px;
}

.title{
    font-size: 0.85rem;
    margin-top: 25px;
    margin-left: 35px;
    font-family: 'notoSansKr-regular';
}

.inputtitle {
    display: flex;
    text-align: center;
    width: 300px;
    height: 51px;
    display: flex;
    padding: 13px;
    padding-bottom: 0px;
    margin: 0px auto 2px;
    background: armondWhite;
}


.input {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'notoSansKr-regular';
}

.wrong {
    display: none;
    margin-left: 37px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: lighter;
    color: red;
    font-family: 'notoSansKr-regular';
}

.number {
    flex-direction: column;
}

.inputnumber {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'notoSansKr-regular';
}

.numberbtn {
    text-align: center;
    width: 130px;
    height: 38px;
    margin-left: 3px;
    border: 2px solid #707070;
    border-radius: 3px;
    background-color: armondWhite;
    font-family: 'notoSansKr-regular';
    font-size: 12px;
}

.send {
    display: none;
    margin-left: 37px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: lighter;
    color: #FFB21D;
    font-family: 'notoSansKr-regular';
}

.agree {
    align-items: center;
    width: 272px;
    height: 170px;
    margin-top: 1rem;
    margin-left: 35px;
    background: armondWhite;
    border: 1px solid #707070;
    border-radius: 5px;
}

.agreeallcheck {
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-family: 'notoSansKr-regular';
    font-size: 0.4rem;
}

.check {
    font-size: 0.1rem;
}

.agreecheck1 {
    display: flex;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'notoSansKr-regular';
    font-size: 0.4rem;
}

.joinbtn {
    display: block;
    width: 280px;
    height: 45px;
    margin: 28px auto 0px;
    background: armondOrange;
    border: 1px solid #707070;
    border-radius: 13px;
    font-family: 'notoSansKr-medium';
}