@value armondBlack, armondWhite from '../../common/color.css';

.intruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  background-color: armondBlack;
  color: armondWhite;
}

.title {
  font-size: 1.125rem;
  font-family: 'notoSansKr-regular';
  margin-bottom: 10px;
}

.info {
  font-size: 2.375rem;
  font-family: 'notoSansKr-bold';
}

.video {
  margin-top: 50px;
}

.moreBtn {
  display: flex;
  align-items: center;
  font-family: 'notoSansKr-regular';
  margin-top: 40px;
}

.btnTitle {
  margin-right: 0.25rem;
}
