@value armondOrange, armondBlack, armondWhite from '../../common/color.css';


.my3dmodel {
    text-align: center;
    margin-top: 9rem;
    height: 120px;
    padding: 50px 20px 20px;
    font-size: 30px;
    font-family: 'notoSansKr-medium';
}

.checkmy3dmodel {
    text-align: center;
    font-size: 15px;
    font-family: 'notoSansKr-medium';
    margin-bottom: 50px;
}