@value armondOrange, armondBlack, armondWhite from '../../common/color.css';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../../../public/images/main.png') center/cover no-repeat;
  height: 100vh;
  color: armondWhite;
}

.container {
  margin-left: 20%;
}

.p1 {
  font-size: 2.375rem;
  font-family: 'notoSansKr-thin';
  margin: 0;
  opacity: 0.85;
}

.p2 {
  font-size: 2.5rem;
  font-family: 'notoSansKr-bold';
  margin: 10px 0;
}

.highlight {
  color: armondOrange;
}

.p3 {
  font-family: 'notoSansKr-thin';
  opacity: 0.85;
  margin: 0;
}

.startBtn {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  font-family: 'notoSansKr-thin';
  margin-top: 2.5rem;
  opacity: 0.85;
}

.btnTitle {
  margin-right: 0.25rem;
}
