@value armondOrange, armondBlack, armondWhite from '../../common/color.css';

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  height: 540px;
  margin: 100px 0;
  border: 1px solid black;
  box-shadow: 20px 20px 40px #00000029;
}

.file_box {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.file_btn {
  font-size: 1.125rem;
  width: fit-content;
  height: fit-content;
  background-color: armondOrange;
  color: armondBlack;
  cursor: pointer;
  font-family: 'notoSansKr-light';
  padding: 8px 30px;
  border: 1px solid #707070;
  border-radius: 23px;
}

model-viewer {
  width: 100%;
  height: 100%;
}

.info {
  width: 40%;
  padding: 0 25px;
}

.material {
  border-bottom: 1px solid #707070;
  padding: 20px 0;
}

.material_title {
  size: 1.125rem;
  color: armondBlack;
  font-family: 'notoSansKr-regular';
  margin-bottom: 10px;
}

.material_selectbox {
  width: 150px;
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 6px;
  font-family: 'notoSansKr-regular';
}

.nums {
  border-bottom: 1px solid #707070;
  padding: 20px 0;
}

.nums_title {
  size: 1.125rem;
  color: armondBlack;
  font-family: 'notoSansKr-regular';
  margin-bottom: 10px;
}

.nums_btns {
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background-color: #707070;
}

.nums_minus_btn,
.nums_plus_btn {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  border: 1px solid #707070;
  background-color: white;
  cursor: pointer;
}

.nums_count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: armondWhite;
}

.clean {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  padding: 20px 0;
}

.clean_title {
  size: 1.125rem;
  color: armondBlack;
  font-family: 'notoSansKr-regular';
}

.checkbox {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 4px;
}

.painting {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  padding: 20px 0;
}

.painting_title {
  size: 1.125rem;
  color: armondBlack;
  font-family: 'notoSansKr-regular';
}

.add_btn,
.ar_btn {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  background-color: armondOrange;
  color: armondBlack;
  cursor: pointer;
  font-family: 'notoSansKr-regular';
  padding: 8px 0;
  border: 1px solid #707070;
  margin-top: 20px;
  box-shadow: 5px 5px 6px #00000029;
}
