.table {
  width: 1000px;
  height: 200px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.nofile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
  margin: 100px 0;
  border: 1px solid black;
  font-family: 'notoSansKr-medium';
}
