.table {
  width: 1000px;
  height: 200px;
  margin-bottom: 25px;
  border: 1px solid black;
}

.nofile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
  margin-bottom: 100px;
  border: 1px solid black;
  font-family: 'notoSansKr-medium';
}

.xbtn {
  font-weight: bold;
}

.btnText {
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  cursor: pointer;
}
