.main {
  display: flex;
  width: 100%;
  height: 100vh;
  /* padding-top: 80px; */
}

.modelViewer {
  width: 75%;
}

.toggle_btn {
  display: none;
  position: absolute;
  bottom: 70px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
  color: #101010;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #ffffff;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  padding: 20px 30px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.info::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.size {
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin: 10px;
  font-size: 16px;
  font-family: 'notoSansKr-regular';
}

.custom {
  width: 100%;
}

.size_title,
.custom_title {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'notoSansKr-medium';
  padding: 10px 0;
}

.color_title,
.texture_title {
  font-size: 16px;
  font-family: 'notoSansKr-regular';
  margin: 10px;
}

.titles {
  margin: 0 10px;
}

.x_size,
.y_size,
.z_size,
.v_size {
  margin: 5px;
}

.colors {
  display: flex;
  list-style: none;
  padding: 0;
}

.textures {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.round {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-style: solid;
  margin-right: 12px;
}

.rectangle {
  font-family: 'notoSansKr-medium';
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  cursor: pointer;
}

.colorpicker {
  display: flex;
  list-style: none;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.color1 {
  background-color: #4a4a4a;
}
.color2 {
  background-color: #c5b2a0;
}
.color3 {
  background-color: #77b7f7;
}
.color4 {
  background-color: #fd529c;
}

.texture1,
.texture2,
.texture3,
.texture4 {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.default_color {
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagonal {
  width: 50px;
  height: 2px;
  background-color: red;
  transform: rotate(45deg);
}

.qr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}

.qr_title {
  font-size: 16px;
  font-family: 'notoSansKr-medium';
}

.qr_img {
  width: 180px;
}

.shares {
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .info {
    display: none;
    position: absolute;
    width: 70%;
    height: 100%;
  }
  .info.active {
    display: block;
  }

  .titles,
  .size_title,
  .color_title,
  .texture_title,
  .qr_title {
    font-size: 15px;
  }

  .modelViewer {
    width: 100%;
  }

  .toggle_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .round,
  .rectangle {
    width: 30px;
    height: 30px;
  }

  .size {
    font-size: 12px;
  }

  .size_title,
  .custom_title {
    font-size: 18px;
  }
}
